@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');
/* animacion de carga */
#loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 252, 252); 
  width: 100%;
  height: 100%;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loader {
  --path: #2F3545;
  --dot: #5628EE;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
  &:before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      display: block;
      background: var(--dot);
      top: 37px;
      left: 19px;
      transform: translate(-18px, -18px);
      animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  svg {
      display: block;
      width: 100%;
      height: 100%;
      rect,
      polygon,
      circle {
          fill: none;
          stroke: var(--path);
          stroke-width: 10px;
          stroke-linejoin: round;
          stroke-linecap: round;
      }
      polygon {
          stroke-dasharray: 145 (221 - 145) 145 (221 - 145);
          stroke-dashoffset: 0;
          animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
      rect {
          stroke-dasharray: (256 / 4 * 3) (256 / 4) (256 / 4 * 3) (256 / 4);
          stroke-dashoffset: 0;
          animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
      circle {
          stroke-dasharray: (200 / 4 * 3) (200 / 4) (200 / 4 * 3) (200 / 4);
          stroke-dashoffset: 75;
          animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
  }
  &.triangle {
      width: 48px;
      &:before {
          left: 21px;
          transform: translate(-10px, -18px);
          animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
  }
}

@keyframes pathTriangle {
  33% {
      stroke-dashoffset: 74;
  }
  66% {
      stroke-dashoffset: 147;
  }
  100% {
      stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
      transform: translate(0, 0);
  }
  66% {
      transform: translate(10px, -18px);
  }
  100% {
      transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
      stroke-dashoffset: 64;
  }
  50% {
      stroke-dashoffset: 128;
  }
  75% {
      stroke-dashoffset: 192;
  }
  100% {
      stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
      transform: translate(0, 0);
  }
  50% {
      transform: translate(18px, -18px);
  }
  75% {
      transform: translate(0, -36px);
  }
  100% {
      transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
      stroke-dashoffset: 125;
  }
  50% {
      stroke-dashoffset: 175;
  }
  75% {
      stroke-dashoffset: 225;
  }
  100% {
      stroke-dashoffset: 275;
  }
}

.show {
  visibility: visible;
  opacity: 1;
}

html {
  -webkit-font-smoothing: antialiased;
}

*{
  box-sizing: border-box;
  &:before,
  &:after {
      box-sizing: border-box;
  }
}

 Center & dribbble
body {
  min-height: 100vh;
  background-color: #CDC2A5;
  display: flex;
  justify-content: center;
  align-items: center;
  .dribbble {
      position: fixed;
      display: block;
      right: 20px;
      bottom: 20px;
      img {
          display: block;
          height: 28px;
      }
  }
}
/* animacion de carga */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #0c192c;
}
body, p, a, li, span, div {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1 {
    display: flex;
    font-size: 2rem;
    margin: 0%;
}
p {
    font-size: 1em;
    line-height: 1.6;
}

body {
    background-color: #FFF8E8;
    color: #0c192c;
    overflow-x: hidden;

  }

  .logo-link, .title-link {
    display: inline-block;
    color: inherit;
    text-decoration: none; 
  }
  
  .title-link h1 {
    margin: 0; 
  }
.Logo {
    height: 40px;
    width: 40px; 
    margin: 1rem;
}
#barra {
  background: #E1D7C6;
  background: -moz-linear-gradient(45deg, #E1D7C6 0%, #EAE4DD 100%);
  background: -webkit-linear-gradient(45deg, #E1D7C6 0%, #EAE4DD 100%);
  background: linear-gradient(45deg, #E1D7C6 0%, #EAE4DD 100%);
  }
.title {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.primary-header{
    align-items: center;
    justify-content: space-between;
    transition: 0.6s;
    
    z-index: 100000;
}


.mobile-nav-toggle{
    display: none;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 40px;
}

.primary-navigation a{
    text-decoration: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}  



#navHeader .nav-link {
    color: #0c192c;
}
  
#navHeader .nav-link:hover {
    color: #c3b477;
}


.nav .nav-item .nav-link {
    color: #0c192c;
}
  
.nav .nav-item .nav-link:hover {
    color: #c3b477;
}
  

.custom-gap {
   gap: 0px; 
}
  

@media (max-width: 35em) {
    .primary-navigation{

        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 10%;
        

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);


    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
   
  
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background: url("/img/Menu.svg") ;
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;  
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
}
    
.carousel-item img {
    max-height: 100%; 
    object-fit: cover; 
}
  
.carousel {
    max-width: 100%;
    margin: 0 auto; 
}


#buscador{
    background-color:#c3b477 ;
    color: black;
}

#contenedor {
  display: flex;
  justify-content: flex-start;
  width: 100%; 
  height: auto;
  margin: 0 auto;
}
.contenedorJuegos, .game-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.custom-card {
  display: flex;
  flex-direction: column;
  height: 400px; 
  width: 100%;
  max-width: 275px; 
}
.custom-card-img {
  flex: 0 0 80%;
  object-fit: cover;
  width: 100%;
  height: auto;
}
  
.custom-card-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
}
  
.custom-card-title {
    font-size: 1.2rem;
    margin: 0;
}

.menu {
    margin-right: auto;
  }

#buttoncard{
  position: absolute;
  top: 50%; 
  transform: translateY(-30%); 
  border: 2px solid rgba(255, 255, 255, 0.5); 
  border-radius: 50%; 
  background-color: rgba(0, 0, 0, 0.4); 
  width: 40px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7200;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: rgba(9, 73, 9, 0.596);
}

#footerInicio{
    background-color: #0c192ca8;
}


  
  .card-img-top {
    height: 250px; 
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .custom-gap > .col {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .carousel-item {
    padding: 15px 0;
  }

  #cardGenres {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
  }
  
  .card-genre {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px); 
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
.genretitle{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.card {
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.09);
    z-index: 7000;
}






/* Games genres css */

.custom-card-genres{
  display: flex;
  flex-direction: column;
  height: 200px; 
  width: 200px; 
  margin: 0.5rem;
  background-color: #F9DBBA;
}
.custom-card-title-games{
  
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  height: 200px; 
  width: 200px;
}
.custom-card-img-games{
  flex: 0 0 80%;
  object-fit: cover;
  width: 100%;
  height: 80%;
}
.form-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  

  select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
  }
  
  select:focus {
    border-color: #56616d;
    outline: none;
  }

  button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  

  
.game h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.game h2 {
  font-size: 1rem;
}

.filter {
  margin-bottom: 1rem;
}
.DropdownMain{
  display: flex;
  flex-direction: column;
  width: 220px;
  justify-content: flex-start;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-toggle:after {
  content: "▼";
  float: right;
  margin-left: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ced4da;
}

.dropdown-menu .dropdown-item {
  padding: 0.375rem 0.75rem;
  color: #495057;
  display: block;
}

.dropdown-menu .dropdown-item input {
  margin-right: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-group {
  position: relative;
}

.dropdown-group:hover .dropdown-submenu {
  display: block;
}
.dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 2;
}
.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
} 
.container-games{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left; 
}
.dropdown-group-label {
  display: block;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px; 
}